.App {
  text-align: center;
}

.card-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #f2efef;
  width: 250px;
  padding: 1em;
  margin: 2em;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, .1)
}

.card-poke-name {
  color: rgb(75, 5, 118);
}

p {
  font-family: 'Dank Mono', 'Roboto';
  font-size: 1em;
  line-height: 0.9;
}