.App {
  text-align: center;
}

.card-container {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #f2efef;
  width: 250px;
  padding: 1em;
  margin: 2em;
  border-radius: 20px;
  background-color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, .1)
}

.card-poke-name {
  color: rgb(75, 5, 118);
}

.card img {
  transition: all 0.2s;
  opacity: 0.9;
}

.card img:hover {
  transform: scale(1.1);
  opacity: 1
}

p {
  font-family: 'Dank Mono', 'Courier Prime', monospace;
  font-size: 1em;
  line-height: 0.9;
}

#winner {
  margin-top: 30px;
  font-family: 'Dank Mono';
  font-weight: bold;
  color: rgba(215, 71, 255, 0.893);
  font-size: 1.2em;
}